<head>
    <meta charset="UTF-8" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>SpireX Foundation</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/global.css" />
    
    <link rel="stylesheet" href="../css/footer.css" />

    
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<footer class="footer">

    <div class="footer-container">

        <div class="footer-brand">

            <img
                src="../assets/images/logo.png"
                alt="SpireX Foundation"
                class="footer-logo"
            >

            <p>
                Empowering students through practical learning,
                internships and real-world opportunities.
            </p>

            <div class="social-links">

                <a
                    href="https://www.instagram.com/spirexfoundation"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Instagram"
                >
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a
                    href="https://www.linkedin.com/company/spirex-foundation/"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="LinkedIn"
                >
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <a
                    href="https://mail.google.com/mail/?view=cm&fs=1&to=contact.spirexfoundation@gmail.com"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="Email"
                >
                    <i class="fa-solid fa-envelope"></i>
                </a>

            </div>

        </div>

        <div class="footer-column">

            <h4>Quick Links</h4>

            <a href="../index.html">Home</a>
            <a href="../pages/aboutpage.html">About</a>
            <a href="../pages/internship.html">Internship</a>
            <a href="../pages/program.html">Programs</a>
            <a href="../pages/projects.html">Projects</a>
            <a href="../pages/contact.html">Contact</a>

        </div>

        <div class="footer-column">

            <h4>Programs</h4>

            <a href="../pages/program.html">Frontend Development</a>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 SpireX Foundation. All rights reserved.
        </p>

        <div>

            <a href="#">Privacy Policy</a>

            <a href="#">Terms &amp; Conditions</a>

        </div>

    </div>

</footer>
<script src="js/includes.js"></script>
<script src="js/main.js"></script>